body {
    background-color: #2d2972;
    color: white;
     font-family: "Bai Jamjuree", sans-serif;

}

    button {
       background-color: #7b76cb; 
       color: white;
       font-family: "Bai Jamjuree", sans-serif;
    }
